h1 {
    text-align: center;
    color: green;
    font-weight: bold;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}
.registration {
    background-color: aquamarine;
    width: 900px;
    margin: 20px auto;
}
.form-row {
    display: flex;
    gap: 20px;
    margin: bottom 20px; ;
     
}




.field {
    flex: 1;
   

}
.field input, .field select, .field textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    box-sizing: border-box;
}
.field textarea{
    height: 100px;
}
.button-row{
    display: flex;
    gap: 20px;
}
.button-row button {
    flex: 1;
    padding: 10px;
}